---
import "@fontsource/inter";
import "@fontsource/inter/500.css";
import "@fontsource/inter/600.css";
import "@fontsource/inter/700.css";
import "@fontsource/inter/800.css";
import "@fontsource/inter/900.css";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="./favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Aproveite agora a nossa promoção especial e adquira suas sacolas de papel personalizadas com até 4x sem juros no cartão de crédito!"
    />
    <meta name="theme-color" content="#001F33" />
    <meta
      name="theme-color"
      media="(prefers-color-scheme: light)"
      content="#001F33"
    />
    <meta
      name="theme-color"
      media="(prefers-color-scheme: dark)"
      content="#001F33"
    />
    <meta name="apple-mobile-web-app-status-bar-style" content="#001F33" />

          <!-- Open Graph / Facebook -->
      <meta property="og:type" content="website">
      <meta property="og:url" content="https://www.conservaregrafica.com.br/sacolas-personalizadas/">
      <meta property="og:title" content="Sacolas de Papel Personalizadas">
      <meta property="og:description" content="Aproveite agora a nossa promoção especial e adquira suas sacolas de papel personalizadas com até 4x sem juros no cartão de crédito!">
      <meta property="og:image" content="./image-main.webp">

      <!-- Twitter -->
      <meta property="twitter:card" content="summary_large_image">
      <meta property="twitter:url" content="https://www.conservaregrafica.com.br/sacolas-personalizadas/">
      <meta property="twitter:title" content="Sacolas de Papel Personalizadas">
      <meta property="twitter:description" content="Aproveite agora a nossa promoção especial e adquira suas sacolas de papel personalizadas com até 4x sem juros no cartão de crédito!">
      <meta property="twitter:image" content="./../image-main.webp">
      <title>{title}</title>

  </head>
  <body>
    <slot />
    <style is:global>
      html {
        font-family: Inter;
        background-color: #26272b;
        overflow-x: hidden;
        scroll-behavior: smooth;
      }

      ::-webkit-scrollbar {
        width: 10px;
        background: #222222;
      }
      ::-webkit-scrollbar-thumb {
        background: #424242;
        border-radius: 6px;
      }
      ::-webkit-scrollbar-thumb:hover {
        background: #007ecc;
        border-radius: 6px;
      }
    </style>
  </body>
</html>
